<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
</head>
<body>
    <h1>Welcome to the test Page</h1>
    <h2> Name: <%= name %> </h2>
    <h2> Age: <%= age %> </h2>
    <h2> Email: <%= email %></h2>
    <p>This is a view Engine and simple HTML response.</p>
</body>
</html>